<% //include ../partials/header.ejs %>

<!--<h1>Name</h1>-->

<% //include ../partials/form.ejs %>

<% //include ../partials/footer.ejs %>


<% layout('/layout/page') -%>

<p class="lead">Hey all!</p>
1
2
3
<% layout('/layout/page') -%>

<p class="lead">Hey all!</p>